<div mat-dialog-content>
  <p>{{ data }}</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onConfirm(true)">Sim</button>
  <button mat-raised-button color="basic" (click)="onConfirm(false)">Não</button>
</div>
