<mat-card class="mat-card">

  <mat-card-content>

    <mat-toolbar color="primary">Adicionar cursos</mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Curso</mat-label>
        <input matInput placeholder="Nome" formControlName="name" #name 
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
        [displayWith]="displayFn">
          <mat-option *ngFor="let item of options" [value]="item">
            {{item.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">{{name.value.length}}/100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage("name") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="Front-End">Front-End</mat-option>
          <mat-option value="Back-End">Back-End</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.invalid">{{ getErrorMessage("category") }}</mat-error>
      </mat-form-field>
    </form>

    <button mat-fab extended color="primary" (click)="onSubmit()" class="mat-fab">Salvar</button>
    <button mat-fab extended color="warn" (click)="onCancel()" class="mat-fab">Cancelar</button>

  </mat-card-content>

</mat-card>
