<mat-card>

  <mat-card-content>

    <mat-toolbar color="primary">Cursos disponíveis</mat-toolbar>

    <div class="column-flex mat-elevation-z8">

      <app-curses-list
      *ngIf="curses$ | async as curses; else loading"
      [curses]="curses"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (remove)="onDelete($event)"
      ></app-curses-list>

      <ng-template #loading>

        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>

      </ng-template>

    </div>

  </mat-card-content>

</mat-card>
