<h1 mat-dialog-title style="color: red;">Error!</h1>
<div mat-dialog-content>{{ data }}</div>
<div mat-dialog-actions align="center">
  <button mat-stroked-button mat-dialog-close color="warn">Fechar</button>
</div>

