<mat-table [dataSource]="curses">

  <!-- Name Column -->
  <ng-container matColumnDef="name">

    <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
    <mat-cell *matCellDef="let curse"> {{curse.name}} </mat-cell>

  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">

    <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
    <mat-cell *matCellDef="let curse"> {{curse.category}}
      <mat-icon aria-hidden="false" aria-label="Categoria do curso">{{ curse.category | category }}</mat-icon>
    </mat-cell>

  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">

    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-mini-fab color="accent" aria-label="Adicionar um curso" (click)="onAdd()" class="action-column-header">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let curse" class="action-column">

      <button mat-icon-button color="primary" aria-label="Editar um curso" (click)="onEdit(curse)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover um curso" (click)="onDelete(curse)">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
